<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MdL Portfolio</title>
    <link rel="stylesheet" href="./assets/css/style.css" />

    <!-- Bootstrap CSS link -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />

    <!-- Fontasesome link -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
      integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <!-- #region HEADER -->
    <header class="sticky-top bg_secondary">
      <nav class="navbar navbar-expand-md py-3">
        <div class="container d-flex align-items-center">
          <a
            class="font_color_light d-flex justify-content-center align-items-center gap-3"
            href="#"
          >
            <div class="logo">
              <img loading="lazy" src="./assets/img/Avatar.jpg" alt="" />
            </div>
            <h1><strong>MdL PORTFOLIO</strong></h1>
          </a>

          <button
            class="navbar-toggler border-light"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon navbar_toggler_light"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="font_color_light" aria-current="page" href="#about_me"
                  >ABOUT ME</a
                >
              </li>
              <li class="nav-item">
                <a class="font_color_light" aria-current="page" href="#projects"
                  >PROJECTS</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="font_color_light"
                  aria-current="page"
                  href="#contact_me"
                  >CONTACT</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <!-- #endregion HEADER -->

    <!-- #region MAIN -->
    <!-- About me -->
    <section id="about_me" class="bg_primary py-5">
      <div class="container">
        <div class="row">
          <div class="col-4">
            <div class="photo_style mb-4">
              <img loading="lazy" src="./assets/img/photo_2.jpg" alt="" />
            </div>
          </div>

          <div class="col-8">
            <h2 class="mb-4 fw-bold">Ciao, I'm Marino di Lauro!</h2>

            <div class="skills_carousel py-4 mb-5">
              <div class="skills_container">
                <img src="./assets/img/logos/html.png" alt="" loading="lazy" />
                <img src="./assets/img/logos/css.png" alt="" loading="lazy" />
                <img
                  src="./assets/img/logos/bootstrap.png"
                  alt=""
                  loading="lazy"
                />
                <img
                  src="./assets/img/logos/javascript.png"
                  alt=""
                  loading="lazy"
                />
                <img src="./assets/img/logos/vuejs.png" alt="" loading="lazy" />
                <img src="./assets/img/logos/php.png" alt="" loading="lazy" />
                <img
                  src="./assets/img/logos/laravel.png"
                  alt=""
                  loading="lazy"
                />
                <img src="./assets/img/logos/mysql.png" alt="" loading="lazy" />
                <img src="./assets/img/logos/git.png" alt="" loading="lazy" />
                <img
                  src="./assets/img/logos/github.png"
                  alt=""
                  loading="lazy"
                />
              </div>
            </div>
            <p class="fs-3 lh-lg">
              I'm a
              <strong>Jr. Full Stack Web Developer</strong> based in Napoli,
              Italy. With a background in animal science and a
              <strong>passion for technology</strong>, I've transitioned into
              web development to pursue my love for creating
              <strong>innovative digital solutions</strong>. I'm passionate
              about creating user-friendly and efficient web applications. My
              diverse background allows me to approach problems from unique
              perspectives, and I'm always eager to
              <strong>learn new technologies</strong>.
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- About me -->

    <!-- Projects -->
    <section id="projects" class="bg_light py-5">
      <div class="container d-flex flex-column align-items-center px-5 px-md-0">
        <h2>PORTFOLIO</h2>

        <div
          class="divider w-100 py-2 d-flex justify-content-center align-items-center"
        >
          <hr class="hr_bold_dark" />
          <i class="px-2 px-md-4 fa-solid fa-2xl fa-code"></i>
          <hr class="hr_bold_dark" />
        </div>

        <div class="row g-5 row-cols-1 row-cols-md-2 row-cols-lg-3">
          <div class="col">
            <div
              class="card"
              style="
                background-image: url(./assets/img/projects/pokemon_tomatored.png);
                background-size: cover;
                background-position: center;
                border-radius: 16px;
              "
            >
              <div class="overlay"></div>
              <div class="details">
                <div class="cardHeader">
                  <h3>Pokémon Tomatored</h3>
                </div>

                <div class="cardText">
                  <p>
                    Combine the productivity of the Pomodoro Technique with the
                    fun of catching Pokémon! This VS Code extension helps you
                    stay focused while giving you a chance to build your Pokémon
                    collection during breaks.
                  </p>
                </div>

                <div class="d-flex gap-3">
                  <button type="button" class="button disabled" disabled>
                    <span class="button_top"> View project </span>
                  </button>

                  <button type="button" class="button">
                    <span class="button_top">
                      <a
                        href="https://github.com/marinodilauro/vscode-extension-pkmn-tomatored"
                        target="_blank"
                      >
                        Check repository
                      </a>
                    </span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div
              class="card"
              style="
                background-image: url(./assets/img/projects/travelog_cover.webp);
                background-size: cover;
                background-position: center;
                border-radius: 16px;
              "
            >
              <div class="overlay"></div>
              <div class="details">
                <div class="cardHeader">
                  <h3>TraveLog</h3>
                </div>

                <div class="cardText">
                  <p>
                    TraveLog is your trusted app for planning and organizing
                    trips! You can create detailed itineraries, add stops to
                    your trips and view everything on an interactive map. You
                    can also download its PWA (Progressive Web App).
                  </p>
                </div>

                <div class="d-flex gap-3">
                  <button type="button" class="button">
                    <span class="button_top">
                      <a href="https://travelog.website" target="_blank"
                        >View project</a
                      ></span
                    >
                  </button>

                  <button type="button" class="button">
                    <span class="button_top">
                      <a
                        href="https://labmouse-interactive.itch.io/nebula-arcade-shooter"
                        target="_blank"
                      >
                        Check repository
                      </a>
                    </span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div
              class="card"
              style="
                background-image: url(./assets/img/projects/nebula_cover.webp);
                background-size: cover;
                background-position: center;
                border-radius: 16px;
              "
            >
              <div class="overlay"></div>
              <div class="details">
                <div class="cardHeader">
                  <h3>Nebula - Arcade Shooter</h3>
                </div>

                <div class="cardText">
                  <p>
                    Vertical scroller arcade shooter made with Unity (C#). The
                    player controls a spaceship and have to avoid and destroy
                    enemy spaceships to increase his score.
                  </p>
                </div>

                <div class="d-flex gap-3">
                  <button type="button" class="button">
                    <span class="button_top">
                      <a
                        href="https://labmouse-interactive.itch.io/nebula-arcade-shooter"
                        target="_blank"
                      >
                        View project
                      </a>
                    </span>
                  </button>

                  <button type="button" class="button">
                    <span class="button_top">
                      <a
                        href="https://github.com/marinodilauro/nebula-arcade-shooter-assets-only"
                        target="_blank"
                      >
                        Check repository
                      </a>
                    </span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div
              class="card"
              style="
                background-image: url(./assets/img/projects/js-campominato-grid.png);
                background-size: cover;
                background-position: center;
                border-radius: 16px;
              "
            >
              <div class="overlay"></div>
              <div class="details">
                <div class="cardHeader">
                  <h3>Koffing Sweeper</h3>
                </div>

                <div class="cardText">
                  <p>A mine sweeper like game, made in plain JavaScript.</p>
                </div>

                <div class="d-flex gap-3">
                  <button type="button" class="button">
                    <span class="button_top">
                      <a
                        href="https://marinodilauro.github.io/js-campominato-grid/"
                        target="_blank"
                      >
                        View project
                      </a>
                    </span>
                  </button>

                  <button type="button" class="button">
                    <span class="button_top">
                      <a
                        href="https://github.com/marinodilauro/js-campominato-grid"
                        target="_blank"
                      >
                        Check repository
                      </a>
                    </span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div
              class="card"
              style="
                background-image: url(./assets/img/projects/vue-boolzapp.png);
                background-size: cover;
                background-position: center;
                border-radius: 16px;
              "
            >
              <div class="overlay"></div>
              <div class="details">
                <div class="cardHeader">
                  <h3>Chat web app</h3>
                </div>

                <div class="cardText">
                  <p>
                    This project shows the front-end of a chat web app. The user
                    can search through the conversations preview on the left
                    that will show last received message with date and time,
                    send or delete messages and view messages' details.
                  </p>
                </div>

                <div class="d-flex gap-3">
                  <button type="button" class="button">
                    <span class="button_top">
                      <a
                        href="https://marinodilaurochat.netlify.app/"
                        target="_blank"
                      >
                        View project
                      </a>
                    </span>
                  </button>

                  <button type="button" class="button">
                    <span class="button_top">
                      <a
                        href="https://github.com/marinodilauro/vue-boolzapp"
                        target="_blank"
                      >
                        Check repository
                      </a>
                    </span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div
              class="card"
              style="
                background-image: url(./assets/img/projects/proj-html-vuejs.png);
                background-size: cover;
                background-position: center;
                border-radius: 16px;
              "
            >
              <div class="overlay"></div>
              <div class="details">
                <div class="cardHeader">
                  <h3>GameHoax website</h3>
                </div>

                <div class="cardText">
                  <p>
                    GameHoax is a fictional marketplace for videogames and
                    videogame related hardwares. This singl page site was made
                    using Vite and Vue.JS.
                  </p>
                </div>

                <div class="d-flex gap-3">
                  <button type="button" class="button">
                    <span class="button_top">
                      <a
                        href="https://marinodilauro.github.io/proj-html-vuejs/"
                        target="_blank"
                      >
                        View project
                      </a>
                    </span>
                  </button>

                  <button type="button" class="button">
                    <span class="button_top">
                      <a
                        href="https://github.com/marinodilauro/proj-html-vuejs"
                        target="_blank"
                      >
                        Check repository
                      </a>
                    </span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Projects -->

    <!-- Contact me -->
    <section id="contact_me" class="bg_primary py-5">
      <div class="text-center">
        <h2>CONTACT ME</h2>
      </div>

      <div
        class="divider w-100 py-2 d-flex justify-content-center align-items-center"
      >
        <hr class="hr_bold_light" />
        <i class="px-2 px-md-4 fa-solid fa-2xl fa-code"></i>
        <hr class="hr_bold_light" />
      </div>
      <div class="container d-flex justify-content-center align-items-center">
        <form action="" method="POST" class="w-75">
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input
              type="text"
              class="form-control"
              name="name"
              id="name"
              aria-describedby="helpId"
              placeholder=""
              v-model="name"
            />
            <small id="nameHelper" class="form_text">Your full name</small>
          </div>

          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input
              type="email"
              class="form-control"
              name="email"
              id="email"
              aria-describedby="helpId"
              placeholder=""
              v-model="email"
            />
            <small id="emailHelper" class="form_text">Your email address</small>
          </div>

          <div class="mb-3">
            <label for="message" class="form-label">Message</label>
            <textarea
              class="form-control"
              name="message"
              id="message"
              rows="3"
              v-model="message"
            ></textarea>
            <small id="messageHelper" class="form_text">Your message</small>
          </div>

          <button type="button" class="button">
            <span class="button_top"> Send </span>
          </button>
        </form>
      </div>
    </section>
    <!-- Contact me -->
    <!-- #endregion MAIN -->

    <!-- #region FOOTER -->
    <footer
      class="bg_secondary d-flex justify-content-center align-items-center"
    >
      &copy; 2024 Marino di Lauro. All rights reserved.
    </footer>
    <!-- #endregion FOOTER -->
    <main></main>
  </body>
</html>
