* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #598392;
  --color-secondary: #124559;
  --color-secondary-dark: #01161e;
  --color-light: #aec3b0;
  --color-lighter: #eff6e0;
  --button_radius: 0.75rem;
  --button_color: aliceblue;
  --button_outline_color: linear-gradient(135deg, var(--color-secondary) 0%, var(--color-light) 100%);
  --button_radius: 0.75rem;
  --button_outline_color_disabled: grey;
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
}

/* #region :::: UTILITY RULES:::: */

.bg_primary {
  background-color: var(--color-primary);
  color: var(--color-lighter);
}

.bg_secondary {
  background-color: var(--color-secondary);
  color: var(--color-lighter);
}

.bg_secondary_light {
  background-color: var(--color-secondary);
  color: var(--color-lighter);
}

.bg_light {
  background-color: var(--color-light);
  color: var(--color-secondary);
}

.font_color_light {
  color: var(--color-lighter);
}

.link_color {
  color: var(--color-primary);
}

.navbar_toggler_light {
  filter: invert(1);
}

.icon_border {
  width: 50px;
  height: 50px;
  padding: 0.8rem;
}

.divider {
  margin: 1rem 0 2rem 0;

  .hr_bold_light {
    width: 10%;
    height: 3px;
    border-radius: 2px;
    opacity: 1;
    background-color: var(--color-lighter);
    color: var(--color-light);
    border: 1px solid var(--color-lighter);
  }

  .hr_bold_dark {
    width: 10%;
    height: 3px;
    border-radius: 2px;
    opacity: 1;
    background-color: var(--color-secondary);
    color: var(--color-secondary);
    border: 1px solid var(--color-secondary);
  }
}

.button {
  font-weight: bold;
  border: none;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);

  .button_top {
    display: block;
    box-sizing: border-box;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.5rem 1rem;
    background: var(--button_color);
    transform: translateY(-0.2rem);
    transition: transform 0.1s ease;
    color: var(--color-secondary);

    a {
      color: var(--color-secondary);
      text-decoration: none;
    }
  }

  &.disabled {
    background: var(--button_outline_color_disabled);

    .button_top {
      background-color: lightgray;
      border: 2px solid lightgrey;
    }

    a {
      color: grey;
    }

  }

  &:hover .button_top {
    /* Pull the button upwards when hovered */
    transform: translateY(-0.33em);
  }

  &:active .button_top {
    /* Push the button downwards when pressed */
    transform: translateY(0);
  }
}

/* #endregion :::: UTILITY RULES:::: */

/* #region :::: HEADER :::: */
header {
  min-height: 90px;

  .logo {
    img {
      border-radius: 50%;
      height: 3rem;
    }
  }

  .navbar-nav {
    gap: 2rem;

    a {
      font-weight: bold;
    }

    a:hover {
      border-bottom: 2px solid var(--color-lighter);
    }
  }

  a {
    text-decoration: none;
  }
}

/* #endregion :::: HEADER :::: */

/* #region :::: MAIN :::: */

/* About me section */
#about_me {
  .photo_style {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 1rem;
    }
  }

  .skills_carousel {
    .skills_container {
      display: flex;
      white-space: nowrap;
      gap: 4rem;

      img {
        max-width: 40px;
        filter: drop-shadow(0.7px 0.7px 1px white);
      }
    }
  }

  h2,
  p strong {
    filter: drop-shadow(1.5px 3px 1px var(--color-secondary));
  }

  p {
    font-size: clamp(1.4rem, 2.5vw, 1.7rem);
  }
}

/* Projects section */
#projects {
  .card {
    height: 20rem;
    padding: 1.7rem 1rem;
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 7.5px;
    transition: 0.5s ease;
    color: aliceblue;

    .overlay {
      position: absolute;
      inset: 0;
      background-color: rgba(0, 0, 0, 0.2);
      z-index: 1;
      border-radius: 16px;
      transition: opacity 0.3s ease;
    }

    &:hover .overlay {
      background-color: rgba(0, 0, 0, 0.6);
    }

    .cardHeader {
      text-transform: uppercase;
      position: relative;
      width: max-content;
      font-size: 1.4rem;
      font-weight: bold;
      transition: all 0.5s ease;
      z-index: 2;

      h3 {
        text-shadow: 1.5px 1.5px 1px rgba(0, 0, 0, 0.7);
        text-decoration: none;
        color: var(--color-light);
        filter: drop-shadow(1.5px 2px 3px var(--color-secondary));
      }

      &::after {
        content: "";
        width: calc(100% + 1rem);
        height: 2.5px;
        transform: translateX(calc(-100% - 1rem));
        background: linear-gradient(135deg, var(--color-primary) 0%, var(--color-light) 100%);
        bottom: -2px;
        left: 0;
        position: absolute;
        opacity: 0;
      }

    }

    .details {
      z-index: 2;
      display: flex;
      flex-direction: column;
      gap: 5px;
      transform: translateY(95%);
      transition: all 0.5s ease;

    }

    &:hover .details {
      transform: translateY(0%);
      transition-delay: 0.5s;
    }

    &:hover .cardHeader::after {
      transform: translateX(-1rem);
      transition: 0.5s ease;
      opacity: 1;
    }

    &:hover {
      transform: scale(1.02);
      box-shadow: rgba(0, 0, 0, 0.4) 10px 20px 30px,
        rgba(0, 0, 0, 0.3) 10px 1px 53px 3px,
        rgba(1, 0, 0, 0.2) 0px -1px 3px;
    }
  }
}

/* Contact me section */
#contactme {
  .form_text {
    color: var(--color-lighter);
  }
}

/* #endregion :::: MAIN :::: */

/* #region :::: FOOTER :::: */
footer {
  height: 5vh;
}

/* #endregion :::: FOOTER :::: */

/* #region :::: MEDIA QUERIES :::: */
@media (max-width: 576px) {
  #about_me {
    .row {
      flex-direction: column;
    }

    .photo_style {
      img {
        height: 300px;
        object-position: top;
      }
    }
  }
}

/* #endregion :::: MEDIA QUERIES :::: */