* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #598392;
  --color-secondary: #124559;
  --color-secondary-dark: #01161e;
  --color-light: #aec3b0;
  --color-lighter: #eff6e0;
}

/* #region :::: UTILITY RULES:::: */

.bg_primary {
  background-color: var(--color-primary);
  color: var(--color-lighter);
}

.bg_secondary {
  background-color: var(--color-secondary);
  color: var(--color-lighter);
}

.bg_secondary_light {
  background-color: var(--color-secondary);
  color: var(--color-lighter);
}

.bg_light {
  background-color: var(--color-light);
  color: var(--color-secondary);
}

.font_color_light {
  color: var(--color-lighter);
}

.link_color {
  color: var(--color-primary);
}

.navbar_toggler_light {
  filter: invert(1);
}

.icon_border {
  width: 50px;
  height: 50px;
  padding: 0.8rem;
}

/* #endregion :::: UTILITY RULES:::: */

/* #region :::: HEADER :::: */
header {

  /* position: sticky; */
  /* top: 0; */
  /* z-index: 9999; */
  .logo {
    img {
      border-radius: 50%;
      height: 3rem;
    }
  }

  .navbar-nav {
    gap: 2rem;

    a {
      font-weight: bold;
    }

    a:hover {
      border-bottom: 2px solid var(--color-lighter);
    }
  }

  a {
    text-decoration: none;
  }
}

/* #endregion :::: HEADER :::: */

/* #region :::: MAIN :::: */
.banner_style {
  .photo_style {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 1rem;
    }
  }

  .skills_carousel {
    .skills_container {
      display: flex;
      white-space: nowrap;
      gap: 4rem;

      img {
        max-width: 40px;
        filter: drop-shadow(0.7px 0.7px 1px white);
      }
    }
  }

  h2,
  p strong {
    filter: drop-shadow(1.5px 3px 1px var(--color-secondary));
  }

}

/* #endregion :::: MAIN :::: */